<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:task="http://www.springframework.org/schema/task" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task-3.1.xsd
">

	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />
	<!-- 开启对 @Scheduled 的支持-->
	<task:annotation-driven/>
	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.hx.service"/>
	<bean id="Decide" class="com.hx.common.Decide">
		<property name="programSettingDao">
			<ref bean="programSettingDao"/>
		</property>
		<property name="deviceDao">
			<ref bean="deviceDao"/>
		</property>
		<property name="inboxMapper">
			<ref bean="inboxMapper"/>
		</property>
		<property name="returnReceiptMapper">
			<ref bean="returnReceiptMapper"/>
		</property>
		<property name="mailMapper">
			<ref bean="mailMapper"/>
		</property>
		<property name="speedDao">
			<ref bean="speedDao"/>
		</property>
	</bean>
	<bean id="SendSchTask" class="com.hx.common.SendSchTask">
		<property name="sendFaxService">
			<ref bean="sendFaxService"/>
		</property>
	</bean>
	<bean id="Ch_0" class="com.hx.schedule.Ch_0">
		<property name="sendFaxService">
			<ref bean="sendFaxService"/>
		</property>
		<property name="programSettingDao">
			<ref bean="programSettingDao"/>
		</property>
	</bean>
	<bean id="Ch_1" class="com.hx.schedule.Ch_1">
		<property name="sendFaxService">
			<ref bean="sendFaxService"/>
		</property>
		<property name="programSettingDao">
			<ref bean="programSettingDao"/>
		</property>
	</bean>
	<bean id="Ch_2" class="com.hx.schedule.Ch_2">
		<property name="sendFaxService">
			<ref bean="sendFaxService"/>
		</property>
		<property name="programSettingDao">
			<ref bean="programSettingDao"/>
		</property>
	</bean>
	<bean id="Ch_3" class="com.hx.schedule.Ch_3">
		<property name="sendFaxService">
			<ref bean="sendFaxService"/>
		</property>
		<property name="programSettingDao">
			<ref bean="programSettingDao"/>
		</property>
	</bean>
	<bean id="SchTask" class="com.hx.schedule.SchTask">
		<property name="schMapper">
			<ref bean="schMapper"/>
		</property>
	</bean>
	<bean id="InitCard" class="com.hx.common.InitCard">
		<property name="programSettingDao">
			<ref bean="programSettingDao"/>
		</property>
	</bean>
	<bean id="CloseService" class="com.hx.schedule.CloseService">
		<property name="programSettingDao">
			<ref bean="programSettingDao"/>
		</property>
	</bean>


</beans>