<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.dao.DeviceDao" >
  <resultMap id="Device_Setting" type="com.hx.modle.Device_Setting" >
    <id property="id" column="id"/>
    <result property="ch" column="ch"/>
    <result property="prefix" column="prefix"/>
    <result property="areaCode" column="areaCode"/>
    <result property="seatNumber" column="seatNumber"/>
    <result property="chType" column="chType"/>
  </resultMap>
  <!--发送页面下拉列表框,选择某个通道发送,座机号-->
  <select id="selectSeatNumber" resultMap="Device_Setting">
    SELECT seatNumber,ch FROM Device_Setting WHERE seatNumber IS NOT NULL AND chType!=1;
  </select>
  <!--初始化板卡时查询通道类型-->
  <select id="selectChType" resultMap="Device_Setting">
    SELECT ch,chType FROM Device_Setting WHERE chType!=0;
  </select>
  <!--根据通道编号查询支持发送的座机号-->
  <select id="selectSeatNumberByCh" resultType="java.lang.String" parameterType="java.lang.Integer">
    SELECT seatNumber FROM Device_Setting WHERE ch=#{i,jdbcType=INTEGER} AND chType!=1;
  </select>
  <!--根据座机号查看前缀-->
  <select id="selectPrefix" resultMap="Device_Setting" parameterType="java.lang.String">
    SELECT prefix,areaCode FROM Device_Setting WHERE seatNumber=#{seatNumber,jdbcType=VARCHAR};
  </select>
  <!--根据通道编号查看前缀-->
  <select id="selectPrefixByCh" resultMap="Device_Setting" parameterType="java.lang.Integer">
    SELECT prefix,areaCode FROM Device_Setting WHERE ch=#{ch,jdbcType=INTEGER};
  </select>
  <!--根据通道编号查看座机号-->
  <select id="selectNumberByCh" resultType="java.lang.String" parameterType="java.lang.Integer">
    SELECT seatNumber FROM Device_Setting WHERE ch=#{ch,jdbcType=INTEGER};
  </select>
  <!--查询所有的设备设置-->
  <select id="selectDevice" resultMap="Device_Setting">
    SELECT id,ch,prefix,areaCode,seatNumber,chType FROM Device_Setting;
  </select>
  <!--修改设备信息-->
  <update id="updateDevice" parameterType="com.hx.modle.Device_Setting">
    UPDATE device_setting SET prefix=#{prefix,jdbcType=VARCHAR},areaCode=#{areaCode,jdbcType=VARCHAR},seatNumber=#{seatNumber,jdbcType=VARCHAR},
    chType=#{chType,jdbcType=TIMESTAMP} WHERE ch=#{ch,jdbcType=INTEGER}
  </update>
  <!--查询座机号码不为空的ch编号-->
  <select id="selectCh" resultType="java.lang.Integer">
    SELECT ch FROM Device_Setting WHERE seatNumber IS NOT NULL;
  </select>
</mapper>