<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.dao.InboxMapper" >
    <resultMap id="BaseResultMap" type="com.hx.modle.Inbox" >
        <id property="id" column="id"/>
        <result property="senderunit" column="senderunit"/>
        <result property="receivenumber" column="receivenumber"/>
        <result property="create_time" column="create_time"/>
        <result property="senderunit" column="senderunit"/>
        <result property="isreceipt" column="Isreceipt"/>
        <result property="sendnumber" column="sendnumber"/>
        <result property="filsavepath" column="filsavepath"/>
        <result property="isLink" column="isLink"/>
        <result property="barCode" column="barCode"/>
    </resultMap>
    <delete id="delinbox">
      DELETE FROM inbox WHERE id = #{id}
    </delete>

    <select id="getAll" resultType="com.hx.modle.Inbox">
        SELECT*
        FROM inbox
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="queryALLMaillist" parameterType="java.util.Map" resultType="com.hx.modle.Inbox">
        SELECT * FROM inbox WHERE
        create_time BETWEEN date_format(#{beginDate},'%Y-%m-%d') AND date_format(#{endDate},'%Y-%m-%d')
        <if test="mailListId!=null">
            AND senderunit LIKE '% ${mailListId}%'
        </if>
    </select>

    <select id="queryTotalCount" resultType="int">
        SELECT COUNT(*) FROM inbox where 1 = 1
        <if test="params.senderunit!=null and params.senderunit!=''">
            and senderunit LIKE CONCAT('%',#{params.senderunit},'%')
        </if>
        <if test="params.receivenumber!=null and params.receivenumber!=''">
            and receivenumber LIKE CONCAT('%',#{params.receivenumber},'%')
        </if>
        <if test="params.beginDate!=null and params.beginDate!=''">
            and create_time &gt;= #{params.beginDate}
        </if>
        <if test="params.endDate!=null and params.endDate!=''">
            and create_time &lt;= #{params.endDate}
        </if>
        <if test="params.Isreceipt!=null">
            and Isreceipt = #{params.Isreceipt}
        </if>
    </select>

    <select id="queryALLMail" parameterType="java.util.Map" resultType="com.hx.modle.Inbox">
        SELECT * FROM inbox where state = 1

        <if test="params.sendnumber!=null and params.sendnumber!=''">
            and sendnumber LIKE CONCAT('%',#{params.sendnumber},'%')
        </if>
        <if test="params.senderunit!=null and params.senderunit!=''">
            and senderunit LIKE CONCAT('%',#{params.senderunit},'%')
        </if>
        <if test="params.receivenumber!=null and params.receivenumber!=''">
            and receivenumber LIKE CONCAT('%',#{params.receivenumber},'%')
        </if>
        <if test="params.beginDate!=null and params.beginDate!=''">
            and create_time &gt;= #{params.beginDate}
        </if>
        <if test="params.endDate!=null and params.endDate!=''">
            and create_time &lt;= #{params.endDate}
        </if>
        <if test="params.Isreceipt!=null">
            and Isreceipt = #{params.Isreceipt}
        </if>
        order by create_time desc
        LIMIT ${params.start}, ${params.offset}
    </select>

    <select id="queryALLMailList" resultType="com.hx.modle.Inbox">
        select  * from inbox
    </select>
    <select id="getById" resultType="com.hx.modle.Inbox">
     select id, sendnumber, senderunit, receivenumber, filsavepath, create_time, receiptpath, Isreceipt,barCode,isLink,pdfPath
        from inbox where id = #{id}
      </select>

    <select id="queryinboxCount" resultType="java.lang.Integer">
      select * from table limit (start-1)*limit
    </select>


    <update id="modifinbox" parameterType="com.hx.modle.Inbox">
       UPDATE inbox SET state = '0' WHERE id =#{id}
    </update>

    <update id="reductioninbox" parameterType="com.hx.modle.Inbox">
         UPDATE inbox SET state = '1' WHERE id =#{id}
    </update>

    <select id="RecoveryInbox" parameterType="java.util.Map" resultType="com.hx.modle.Inbox">
        SELECT * FROM inbox where state = 0
        <if test="params.sendnumber!=null and params.sendnumber!=''">
            and sendnumber LIKE CONCAT('%',#{params.sendnumber},'%')
        </if>
        <if test="params.senderunit!=null and params.senderunit!=''">
            and senderunit LIKE CONCAT('%',#{params.senderunit},'%')
        </if>
        <if test="params.receivenumber!=null and params.receivenumber!=''">
            and receivenumber LIKE CONCAT('%',#{params.receivenumber},'%')
        </if>
        <if test="params.beginDate!=null and params.beginDate!=''">
            and create_time &gt;= #{params.beginDate}
        </if>
        <if test="params.endDate!=null and params.endDate!=''">
            and create_time &lt;= #{params.endDate}
        </if>
        <if test="params.Isreceipt!=null">
            and Isreceipt = #{params.Isreceipt}
        </if>
        order by create_time desc
        LIMIT ${params.start}, ${params.offset}
    </select>
    <!--张立恒start-->
    <!--新增收件箱-->
    <insert id="insertInbox" parameterType="com.hx.modle.Inbox">
        INSERT INTO inbox
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sendnumber != null and sendnumber != ''">
                sendnumber,
            </if>
            <if test="receivenumber != null and receivenumber != ''">
                receivenumber,
            </if>
            <if test="filsavepath != null and filsavepath != ''">
                filsavepath,
            </if>
            <if test="create_time != null and create_time != ''">
                create_time,
            </if>
            <if test="receiptpath != null and receiptpath != ''">
                receiptpath,
            </if>
            <if test="senderunit != null and senderunit != ''">
                senderunit,
            </if>
            <if test="barCode != null and barCode != ''">
                barCode,
            </if>
            <if test="isreceipt != null and isreceipt != ''">
                Isreceipt,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="sendnumber != null and sendnumber != ''">
                #{sendnumber,jdbcType=VARCHAR},
            </if>
            <if test="receivenumber != null and receivenumber != ''">
                #{receivenumber,jdbcType=VARCHAR},
            </if>
            <if test="filsavepath != null and filsavepath != ''">
                #{filsavepath,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null and create_time != ''">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="receiptpath != null and receiptpath != ''">
                #{receiptpath,jdbcType=VARCHAR},
            </if>
            <if test="senderunit != null and senderunit != ''">
                #{senderunit,jdbcType=VARCHAR},
            </if>
            <if test="barCode != null and barCode != ''">
                #{barCode,jdbcType=VARCHAR},
            </if>
            <if test="isreceipt != null and isreceipt != ''">
                #{isreceipt,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--修改是否已回执,改成已回执:1-->
    <update id="updateIsReceiptById" parameterType="java.lang.Integer">
      UPDATE inbox SET Isreceipt=1 WHERE id=#{id,jdbcType=INTEGER}
    </update>
    <update id="updateIsReceiptByBarCode" parameterType="java.lang.String">
      UPDATE inbox SET Isreceipt=1 WHERE barCode=#{barCode,jdbcType=VARCHAR}
    </update>
    <!--修改是否已关联,改成已关联:1-->
    <update id="updateIsLink" parameterType="java.lang.Integer">
      UPDATE inbox SET isLink=1 WHERE id=#{id,jdbcType=INTEGER}
    </update>
    <!--查询一次正文路径,改成已关联:1-->
    <select id="selectBarAndTifPath" resultType="com.hx.modle.Inbox" parameterType="java.lang.Integer">
      SELECT filsavepath,barCode FROM inbox WHERE id=#{id,jdbcType=INTEGER}
    </select>
    <!--张立恒end-->
</mapper>