<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.dao.MailMapper" >
    <resultMap id="BaseResultMap" type="com.hx.modle.Mail_List" >
    </resultMap>

  <select id="queryALLMailList" resultType="com.hx.modle.Mail_List">
      select *
      from mail_list
  </select>

  <select id="queryALLMail" resultType="com.hx.modle.Mail" parameterType="java.util.Map">
      select * from mail where 1 = 1
      <if test="params.mailListId != null">
          and  typeid  = #{params.mailListId}
      </if>
      <if test="params.typeid != null">
          and  typeid  = #{params.typeid}
      </if>
      <if test="params.typename != null">
          and  typename LIKE CONCAT('%', #{params.typename}, '%')
      </if>
      <if test="params.linknumber != null">
          and  linknumber LIKE CONCAT('%', #{params.linknumber}, '%')
      </if>

  </select>

    <delete id="deleteUserById" parameterType="java.lang.Integer">
    delete
    from mail
    where id = #{id}
    </delete>

    <insert id="addMail" parameterType="com.hx.modle.Mail_List" useGeneratedKeys="true" keyProperty="id">
		insert
		into	mail (typename,linknumber,typeid)
		values(#{typename},#{linknumber},#{typeid})
    </insert>

    <select id="getMailByLinknumber" resultType="com.hx.modle.Mail_List">
		select *
		from mail
		where linknumber=#{linknumber}
	</select>

    <insert id="AddMailList" parameterType="com.hx.modle.Mail_List" useGeneratedKeys="true" keyProperty="id">
		insert
		into
		mail_list (typename)
		values(#{typename})
    </insert>

    <select id="getMailBytypename" resultType="com.hx.modle.Mail_List">
		select *
		from mail_list
		where typename=#{typename}
	</select>

    <delete id="delmaillist" parameterType="java.lang.Integer" >
    delete
    from mail_list
    where id = #{id}
    </delete>

    <delete id="deletemail" parameterType="java.lang.Integer" >
    delete
    from mail
    where typeid = #{id}
    </delete>
    <!--张立恒-->
    <select id="selectCourtName" resultType="java.lang.String" parameterType="java.lang.String">
      SELECT typename FROM mail WHERE linknumber=#{callerId,jdbcType=VARCHAR}
    </select>
    <select id="selectMailList" resultType="com.hx.modle.Mail_List">
      SELECT * FROM mail_list;
    </select>
    <select id="selectMailById" resultType="com.hx.modle.Mail" parameterType="java.lang.Integer">
      SELECT * FROM mail WHERE typeid=#{id,jdbcType=INTEGER};
    </select>
    <!--张立恒-->

</mapper>