<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.dao.OutboxMapper" >
    <resultMap id="BaseResultMap" type="com.hx.modle.Outbox" >
        <id property="id" column="id"/>
        <result property="receivingunit" column="receivingunit"/>
        <result property="receivenumber" column="receivenumber"/>
        <result property="create_time" column="create_time"/>
        <result property="sendline" column="sendline"/>
        <result property="message" column="message"/>
        <result property="sendnumber" column="sendnumber"/>
        <result property="filsavepath" column="filsavepath"/>
    </resultMap>
    <select id="getAll" resultType="com.hx.modle.Outbox">
        SELECT*
        FROM outbox
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="queryTotalCount" resultType="int">
        select  COUNT(*) from outbox where 1 = 1
        <if  test="params.sendnumber!=null and params.sendnumber!=''">
            and  sendnumber  LIKE CONCAT('%',#{params.sendnumber},'%')
        </if>
        <if  test="params.receivingunit!=null and params.receivingunit!=''">
            and  receivingunit  LIKE CONCAT('%',#{params.receivingunit},'%')
        </if>
        <if  test="params.receivenumber!=null and params.receivenumber!=''">
            and  receivenumber  LIKE CONCAT('%',#{params.receivenumber},'%')
        </if>
        <if  test="params.sendline!=null and params.sendline!=''">
            and  sendline  LIKE CONCAT('%',#{params.sendline},'%')
        </if>
        <if  test="params.message!=null and params.message!=''">
            and  message  LIKE CONCAT('%',#{params.message},'%')
        </if>
        <if  test="params.beginDate!=null and params.beginDate!=''">
            and create_time &gt;=  #{params.beginDate}
        </if>
        <if  test="params.endDate!=null and params.endDate!=''">
            and create_time &lt;=  #{params.endDate}
        </if>
    </select>

    <select id="queryALLMailList" resultType="com.hx.modle.Outbox">
        select * from outbox where 1 = 1
        <if  test="params.sendnumber!=null and params.sendnumber!=''">
            and  sendnumber  LIKE CONCAT('%',#{params.sendnumber},'%')
        </if>
        <if  test="params.receivingunit!=null and params.receivingunit!=''">
            and  receivingunit  LIKE CONCAT('%',#{params.receivingunit},'%')
        </if>
        <if  test="params.receivenumber!=null and params.receivenumber!=''">
            and  receivenumber  LIKE CONCAT('%',#{params.receivenumber},'%')
        </if>
        <if  test="params.sendline!=null and params.sendline!=''">
            and  sendline  LIKE CONCAT('%',#{params.sendline},'%')
        </if>
        <if  test="params.message!=null and params.message!=''">
            and  message  LIKE CONCAT('%',#{params.message},'%')
        </if>
        <if  test="params.beginDate!=null and params.beginDate!=''">
            and create_time &gt;=  #{params.beginDate}
        </if>
        <if  test="params.endDate!=null and params.endDate!=''">
            and create_time &lt;=  #{params.endDate}
        </if>
        order by create_time desc
        LIMIT ${params.start}, ${params.offset}
    </select>

    <delete id="deloutbox">
        DELETE FROM outbox WHERE id = #{id}
    </delete>

    <select id="getById" resultType="com.hx.modle.Outbox">
      SELECT
      t.id,t.sendnumber,t.receivenumber,t.receivingunit,t.create_time,t.sendline,t.message,t.filsavepath
      FROM outbox  t where id = #{id}
  </select>

    <insert id="insert" parameterType="com.hx.modle.Outbox">
        INSERT INTO outbox(id,sendnumber,receivenumber,receivingunit,create_time,sendline,message,filsavepath) VALUES (
          #{outbox.id},
          #{outbox.sendnumber},
          #{outbox.receivenumber},
          #{outbox.receivingunit},
          #{outbox.create_time},
          #{outbox.sendline},
          #{outbox.message},
          #{outbox.filsavepath},
        )
    </insert>
    <update id="modifyoutBox" parameterType="com.hx.modle.Outbox">
        update outbox set
		sendline=#{sendline}
		where
		id=#{id}
    </update>
    <!--张立恒start-->
    <insert id="insertNewMessage" parameterType="com.hx.modle.Outbox">
        INSERT INTO outbox
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sendnumber != null and sendnumber != ''">
                sendnumber,
            </if>
            <if test="receivenumber != null and receivenumber != ''">
                receivenumber,
            </if>
            <if test="receivingunit != null and receivingunit != ''">
                receivingunit,
            </if>
            <if test="create_time != null and create_time != ''">
                create_time,
            </if>
            <if test="sendline != null and sendline != ''">
                sendline,
            </if>
            <if test="message != null and message != ''">
                message,
            </if>
            <if test="filsavepath != null and filsavepath != ''">
                filsavepath,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="sendnumber != null and sendnumber != ''">
                #{sendnumber,jdbcType=VARCHAR},
            </if>
            <if test="receivenumber != null and receivenumber != ''">
                #{receivenumber,jdbcType=VARCHAR},
            </if>
            <if test="receivingunit != null and receivingunit != ''">
                #{receivingunit,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null and create_time != ''">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="sendline != null and sendline != ''">
                #{sendline,jdbcType=VARCHAR},
            </if>
            <if test="message != null and message != ''">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="filsavepath != null and filsavepath != ''">
                #{filsavepath,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--张立恒end-->
</mapper>