<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.dao.RecycleBinMapper" >

    <select id="queryList" resultType="com.hx.modle.RecycleBin">
        SELECT
            t.id,
            t.create_time,
            t.recoverytime,
            t.senderunit,
            t.receivingunit,
            t.receivenumber,
            t.sendnumber,
            t.sendline,
            t.filsavepath,
            t.receiptpath,
            t.Isreceipt,
            t.create_time,
            t.relate_type,
            t.message
        FROM recycle_bin t
        WHERE 1 = 1
        <if test="params.senderunit != null and params.senderunit != ''">
            AND t.senderunit LIKE CONCAT('%', #{params.senderunit}, '%')
        </if>
        <if test="params.receivingunit != null and params.receivingunit != ''">
            AND t.receivingunit LIKE CONCAT('%', #{params.receivingunit}, '%')
        </if>
        <if test="params.receivenumber != null and params.receivenumber != ''">
            AND t.receivenumber LIKE CONCAT('%', #{params.receivenumber}, '%')
        </if>
        <if test="params.sendnumber != null and params.sendnumber != ''">
            AND t.sendnumber LIKE CONCAT('%', #{params.sendnumber}, '%')
        </if>
        <if test="params.sendline != null and params.sendline != ''">
            AND t.sendline LIKE CONCAT('%', #{params.sendline}, '%')
        </if>

        <if  test="params.recoveryBeginDate!=null and params.recoveryBeginDate!=''">
            and recoverytime &gt;=  #{params.recoveryBeginDate}
        </if>
        <if  test="params.recoveryEndDate!=null and params.recoveryEndDate!=''">
            and recoverytime &lt;=  #{params.recoveryEndDate}
        </if>

        <if  test="params.beginDate!=null and params.beginDate!=''">
            and create_time &gt;=  #{params.beginDate}
        </if>
        <if  test="params.endDate!=null and params.endDate!=''">
            and create_time &lt;=  #{params.endDate}
        </if>
           LIMIT ${params.start}, ${params.offset}
    </select>

    <select id="getTotal" resultType="int">
        SELECT
            COUNT(*)
        FROM recycle_bin t
        WHERE 1 = 1
        <if test="params.senderunit != null and params.senderunit != ''">
            AND t.senderunit LIKE CONCAT('%', #{params.senderunit}, '%')
        </if>
        <if test="params.receivingunit != null and params.receivingunit != ''">
            AND t.receivingunit LIKE CONCAT('%', #{params.receivingunit}, '%')
        </if>
        <if test="params.receivenumber != null and params.receivenumber != ''">
            AND t.receivenumber LIKE CONCAT('%', #{params.receivenumber}, '%')
        </if>
        <if test="params.sendnumber != null and params.sendnumber != ''">
            AND t.sendnumber LIKE CONCAT('%',#{params.sendnumber},'%')
        </if>
        <if test="params.sendline != null and params.sendline != ''">
            AND t.sendline LIKE CONCAT('%', #{params.sendline}, '%')
        </if>

        <if  test="params.recoveryBeginDate!=null and params.recoveryBeginDate!=''">
            AND recoverytime &gt;=  #{params.recoveryBeginDate}
        </if>
        <if  test="params.recoveryEndDate!=null and params.recoveryEndDate!=''">
            AND recoverytime &lt;=  #{params.recoveryEndDate}
        </if>

        <if  test="params.beginDate!=null and params.beginDate!=''">
            AND create_time &gt;=  #{params.beginDate}
        </if>
        <if  test="params.endDate!=null and params.endDate!=''">
            AND create_time &lt;=  #{params.endDate}
        </if>
    </select>

    <select id="getById" resultType="com.hx.modle.RecycleBin">
        SELECT
            t.id,
            t.create_time,
            t.recoverytime,
            t.senderunit,
            t.receivingunit,
            t.receivenumber,
            t.sendnumber,
            t.sendline,
            t.filsavepath,
            t.receiptpath,
            t.Isreceipt,
            t.create_time,
            t.relate_type,
            t.message
        FROM recycle_bin t
        WHERE t.id = #{id}
    </select>

    <update id="updateRestore">
        UPDATE ${relateType}
        SET state = '1'
        WHERE id = #{relateId}
    </update>

    <delete id="deleteById">
        DELETE FROM recycle_bin WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="com.hx.modle.RecycleBin">
        INSERT INTO recycle_bin(recoverytime,sendnumber, senderunit,receivingunit, receivenumber, filsavepath, create_time, receiptpath, Isreceipt,
         relate_type, sendline, message) VALUES (
          #{ recycleBin.recoverytime},#{ recycleBin.sendnumber}, #{recycleBin.senderunit}, #{recycleBin.receivingunit}, #{recycleBin.receivenumber}, #{recycleBin.filsavepath},
          #{recycleBin.create_time},#{recycleBin.receiptpath},#{recycleBin.Isreceipt},#{recycleBin.relate_type},#{recycleBin.sendline},#{recycleBin.message}
        )
    </insert>
</mapper>