<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.dao.SendReceiptMapper" >
  <resultMap id="Send_Receipt" type="com.hx.modle.Send_Receipt" >
    <id property="id" column="id"/>
    <result property="receivingunit" column="receivingunit"/>
    <result property="receivenumber" column="receivenumber"/>
    <result property="create_time" column="create_time"/>
    <result property="sendline" column="sendline"/>
    <result property="message" column="message"/>
    <result property="sendnumber" column="sendnumber"/>
    <result property="isLink" column="isLink"/>
    <result property="tifPath" column="tifPath"/>
  </resultMap>
  <!--张立恒start-->
  <!--新增发回执箱-->
  <insert id="insertNewMessage" parameterType="com.hx.modle.Send_Receipt">
    INSERT INTO send_receipt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sendnumber != null and sendnumber != ''">
        sendnumber,
      </if>
      <if test="receivenumber != null and receivenumber != ''">
        receivenumber,
      </if>
      <if test="receivingunit != null and receivingunit != ''">
        receivingunit,
      </if>
      <if test="create_time != null and create_time != ''">
        create_time,
      </if>
      <if test="sendline != null and sendline != ''">
        sendline,
      </if>
      <if test="message != null and message != ''">
        message,
      </if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides=",">
      <if test="sendnumber != null and sendnumber != ''">
        #{sendnumber,jdbcType=VARCHAR},
      </if>
      <if test="receivenumber != null and receivenumber != ''">
        #{receivenumber,jdbcType=VARCHAR},
      </if>
      <if test="receivingunit != null and receivingunit != ''">
        #{receivingunit,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null and create_time != ''">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="sendline != null and sendline != ''">
        #{sendline,jdbcType=VARCHAR},
      </if>
      <if test="message != null and message != ''">
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--查询未被关联的发回执箱信息-->
  <select id="selectReceiptNoLink" resultType="com.hx.modle.Send_Receipt">
    SELECT id,receivingunit,receivenumber,sendline,isLink,create_time FROM send_receipt WHERE isLink=0 AND message!='成功' ORDER BY create_time DESC LIMIT #{page,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER};
  </select>
  <!--查询未被关联的发回执箱信息总条数-->
  <select id="selectCountNoLink" resultType="java.lang.Long">
    SELECT count(*) FROM send_receipt WHERE isLink=0;
  </select>
  <!--修改是否已关联,改成已关联:1-->
  <update id="updateIsLink" parameterType="java.lang.Integer">
      UPDATE send_receipt SET isLink=1,tifPath=#{tifPath,jdbcType=VARCHAR} WHERE id=#{id,jdbcType=INTEGER}
  </update>
  <!--张立恒end-->

  <select id="queryALLMail" parameterType="java.util.Map" resultType="com.hx.modle.Send_Receipt">
    SELECT * FROM send_receipt where 1 = 1
    <if  test="params.receivingunit!=null and params.receivingunit!=''">
      and receivingunit LIKE CONCAT('%',#{params.receivingunit},'%')
    </if>
    <if  test="params.receivenumber!=null and params.receivenumber!=''">
      and receivenumber LIKE CONCAT('%',#{params.receivenumber},'%')
    </if>
    <if  test="params.beginDate!=null and params.beginDate!=''">
      and create_time &gt;= #{params.beginDate}
    </if>
    <if  test="params.endDate!=null and params.endDate!=''">
      and create_time &lt;= #{params.endDate}
    </if>
    <if  test="params.sendline!=null and params.sendline!=''">
      and sendline LIKE CONCAT('%',#{params.sendline},'%')
    </if>
    <if  test="params.message!=null and params.message!=''">
      and message LIKE CONCAT('%',#{params.message},'%')
    </if>
    <if  test="params.sendnumber!=null and params.sendnumber!=''">
      and sendnumber LIKE CONCAT('%',#{params.sendnumber},'%')
    </if>
    LIMIT ${params.start}, ${params.offset}
  </select>

  <select id="queryTotalCount" resultType="java.lang.Integer">
        select  COUNT(*) from send_receipt where 1 = 1
    <if  test="params.receivingunit!=null and params.receivingunit!=''">
      and receivingunit LIKE CONCAT('%',#{params.receivingunit},'%')
    </if>
    <if  test="params.receivenumber!=null and params.receivenumber!=''">
      and receivenumber LIKE CONCAT('%',#{params.receivenumber},'%')
    </if>
    <if  test="params.beginDate!=null and params.beginDate!=''">
      and create_time &gt;= #{params.beginDate}
    </if>
    <if  test="params.endDate!=null and params.endDate!=''">
      and create_time &lt;= #{params.endDate}
    </if>
    <if  test="params.sendline!=null and params.sendline!=''">
      and sendline LIKE CONCAT('%',#{params.sendline},'%')
    </if>
    <if  test="params.message!=null and params.message!=''">
      and message LIKE CONCAT('%',#{params.message},'%')
    </if>
    <if  test="params.sendnumber!=null and params.sendnumber!=''">
      and sendnumber LIKE CONCAT('%',#{params.sendnumber},'%')
    </if>
    </select>

  <select id="queryALLMailList" resultType="com.hx.modle.Send_Receipt">
        select  * from send_receipt
    </select>

  <delete id="deinbox">
       delete from send_receipt  where  id  = #{id}
    </delete>

  <select id="getById" resultType="com.hx.modle.Send_Receipt">
      select
        id, receivingunit, receivenumber, create_time, sendline, message,sendnumber
        from send_receipt where id = #{id}
        </select>

  <!--<select id="queryList" resultType="com.hx.modle.Send_Receipt">-->
      <!--select * from table limit (start-1)*limit-->
    <!--</select>-->

  <insert id="insert" parameterType="com.hx.modle.Send_Receipt">
        INSERT INTO send_receipt(id, receivingunit, receivenumber, create_time, sendline, message,sendnumber) VALUES (
          #{send_receipt.id},
          #{send_receipt.receivingunit},
          #{send_receipt.receivenumber},
          #{send_receipt.create_time},
          #{send_receipt.sendline},
          #{send_receipt.message},
          #{send_receipt.sendnumber}
        )
    </insert>


</mapper>