<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.dao.SendReceiptMapper" >
  <resultMap id="Send_Receipt" type="com.hx.modle.Send_Receipt" >
    <id property="id" column="id"/>
    <result property="receivingunit" column="receivingunit"/>
    <result property="receivenumber" column="receivenumber"/>
    <result property="create_time" column="create_time"/>
    <result property="sendline" column="sendline"/>
    <result property="message" column="message"/>
    <result property="sendnumber" column="sendnumber"/>
    <result property="isLink" column="isLink"/>
    <result property="filsavepath" column="filsavepath"/>
    <result property="barCode" column="barCode"/>
  </resultMap>
  <!--张立恒start-->
  <!--新增发回执箱-->
  <insert id="insertNewMessage" parameterType="com.hx.modle.Send_Receipt">
    INSERT INTO send_receipt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sendnumber != null and sendnumber != ''">
        sendnumber,
      </if>
      <if test="receivenumber != null and receivenumber != ''">
        receivenumber,
      </if>
      <if test="receivingunit != null and receivingunit != ''">
        receivingunit,
      </if>
      <if test="create_time != null and create_time != ''">
        create_time,
      </if>
      <if test="sendline != null and sendline != ''">
        sendline,
      </if>
      <if test="message != null and message != ''">
        message,
      </if>
      <if test="barCode != null and barCode != ''">
        barCode,
      </if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides=",">
      <if test="sendnumber != null and sendnumber != ''">
        #{sendnumber,jdbcType=VARCHAR},
      </if>
      <if test="receivenumber != null and receivenumber != ''">
        #{receivenumber,jdbcType=VARCHAR},
      </if>
      <if test="receivingunit != null and receivingunit != ''">
        #{receivingunit,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null and create_time != ''">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="sendline != null and sendline != ''">
        #{sendline,jdbcType=VARCHAR},
      </if>
      <if test="message != null and message != ''">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null and barCode != ''">
        #{barCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--修改是否已关联,改成已关联:1-->
  <update id="updateIsLinkByBar">
      UPDATE send_receipt SET isLink=1,filsavepath=#{filsavepath,jdbcType=VARCHAR} WHERE barCode=#{barCode,jdbcType=VARCHAR}
  </update>
  <!--张立恒end-->
  <select id="queryALLMail" parameterType="java.util.Map" resultType="com.hx.modle.Send_Receipt">
    SELECT * FROM send_receipt where 1 = 1
    <if  test="params.receivingunit!=null and params.receivingunit!=''">
      and receivingunit LIKE CONCAT('%',#{params.receivingunit},'%')
    </if>
    <if  test="params.receivenumber!=null and params.receivenumber!=''">
      and receivenumber LIKE CONCAT('%',#{params.receivenumber},'%')
    </if>
    <if  test="params.beginDate!=null and params.beginDate!=''">
      and create_time &gt;= #{params.beginDate}
    </if>
    <if  test="params.endDate!=null and params.endDate!=''">
      and create_time &lt;= #{params.endDate}
    </if>
    <if  test="params.sendline!=null and params.sendline!=''">
      and sendline LIKE CONCAT('%',#{params.sendline},'%')
    </if>
    <if  test="params.message!=null and params.message!=''">
      and message LIKE CONCAT('%',#{params.message},'%')
    </if>
    <if  test="params.sendnumber!=null and params.sendnumber!=''">
      and sendnumber LIKE CONCAT('%',#{params.sendnumber},'%')
    </if>
    order by create_time desc
    LIMIT ${params.start}, ${params.offset}
  </select>

  <select id="queryTotalCount" resultType="java.lang.Integer">
    select  COUNT(*) from send_receipt where 1 = 1
    <if  test="params.receivingunit!=null and params.receivingunit!=''">
      and receivingunit LIKE CONCAT('%',#{params.receivingunit},'%')
    </if>
    <if  test="params.receivenumber!=null and params.receivenumber!=''">
      and receivenumber LIKE CONCAT('%',#{params.receivenumber},'%')
    </if>
    <if  test="params.beginDate!=null and params.beginDate!=''">
      and create_time &gt;= #{params.beginDate}
    </if>
    <if  test="params.endDate!=null and params.endDate!=''">
      and create_time &lt;= #{params.endDate}
    </if>
    <if  test="params.sendline!=null and params.sendline!=''">
      and sendline LIKE CONCAT('%',#{params.sendline},'%')
    </if>
    <if  test="params.message!=null and params.message!=''">
      and message LIKE CONCAT('%',#{params.message},'%')
    </if>
    <if  test="params.sendernumber!=null and params.sendernumber!=''">
      and sendnumber LIKE CONCAT('%',#{params.sendnumber},'%')
    </if>

  </select>

  <select id="queryALLMailList" resultType="com.hx.modle.Send_Receipt">
        select  * from send_receipt
    </select>

  <delete id="deinbox">
       delete from send_receipt  where  id  = #{id}
    </delete>

  <select id="getById" resultType="com.hx.modle.Send_Receipt">
      select
        id, receivingunit, receivenumber, create_time, sendline, message,sendnumber,isLink,filsavepath,barCode
        from send_receipt where id = #{id}
        </select>
  <select id="getAll" resultType="com.hx.modle.Send_Receipt">
    SELECT*
    FROM send_receipt
    where id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <insert id="insert" parameterType="com.hx.modle.Send_Receipt">
        INSERT INTO send_receipt(id,
        receivingunit,
        receivenumber,
        create_time,
        sendline,
        message,
        sendnumber,
        isLink,
        filsavepath,
        barCode) VALUES (
        #{send_receipt.id},
        #{send_receipt.receivingunit},
        #{send_receipt.receivenumber},
        #{send_receipt.create_time},
        #{send_receipt.sendline},
        #{send_receipt.message},
        #{send_receipt.sendnumber},
        #{send_receipt.isLink},
        #{send_receipt.filsavepath},
        #{send_receipt.barCode}
        )
    </insert>
  <update id="modifysendReceipt" parameterType="com.hx.modle.Send_Receipt" >
        update send_receipt set
		sendline=#{sendline}
		where
		id=#{id}
    </update>
</mapper>